<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content above * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * End of Placeholder * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->

<router-outlet></router-outlet>

<div class="container my-5">
    <h1 class="mb-5 text-primary">Formulario de contacto</h1>

    <form [formGroup]="userForm">

        <div class="mb-3">
            <label for="name" class="form-label">Nombre: </label>
            <input type="text" id="name" name="name" formControlName="name" class="form-control" placeholder="Nombre y apellidos">
            <p *ngIf="name == ''" class="text-danger">Introduzca su nombre y apellido</p>

        </div>
        <div class="mb-3">
            <label for="email" class="form-label">Email: </label>
            <input type="email" id="email" name="email" formControlName="email" class="form-control" placeholder="ejemplo@dominio.com">
            <p *ngIf="respuesta == false" class="text-danger">Introduzca un email válido</p>
        </div>
        <div class="mb-3">
            <label for="msj" class="form-label">Mensaje: </label>
            <textarea class="form-control" id="msj" name="msj" formControlName="msj"></textarea>
            <p *ngIf="msj == ''" class="text-danger">Introduzca un mensaje</p>
        </div>
        <div class="mb-3">
            <label for="suma" class="form-label">2 + 3 = ?: </label>
            <input type="text" id="suma" name="suma" formControlName="suma" class="form-control" placeholder="Respuesta">
            <p *ngIf="suma != '5'" class="text-danger">Validación anti-spam incorrecta</p>
        </div>

    </form>
    <button type="button" class="btn btn-primary mb-5" (click)="setValue()">Enviar</button>
    <app-listado [datos]="datos"></app-listado>


</div>